:root{
  --primary-color:#09090b;
  --text-color-:#FAFAFA;
  --tag-color-:#15803d;
  --card-text-:darkred;
  --disabled-text-:#52525b;
  --profile-color-:#1e40af;
  --form-border-:hsl(0, 0%, 80%);
  --error-display:red;
}
.header{
  justify-content: space-evenly;
  background-color: var(--primary-color);
 margin:0px;
 border: 0px;
 display: flex;
  padding: 1.5rem;
  font-family: 'Roboto', sans-serif;
}
.heading{
 
  font-size: x-large;
  font-weight: bolder;
  color: var(--text-color-);
}
.load{
  text-align: center;
}
.head-text{
  font-size: x-large;
  font-weight: bolder;
  color: var(--text-color-);
}
body{
  background-color: var(--text-color-);
  font-size: large;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container{
margin: 2rem;
}
.page-display{
  display: flex;
  flex-direction: row;
}
.sidebar{
  display: flex;
  flex-direction: column;
  /* border-right: 1px solid var(--primary-color); */
  padding-right: 2rem;
  padding-bottom: 2rem;
}
.btn-primary{
  box-sizing: border-box;
  text-decoration: none;
  border: 1.5px solid var(--primary-color);
  margin-top: 1rem;
  padding: 0.4rem 4rem;
  background-color: var(--primary-color);
  text-align: center;
border-radius: 2px;
color: var(--text-color-);
}
.btn-primary:hover{
color: var(--primary-color);
background-color: var(--text-color-);
}
.sidebar-text{
  text-align: center;
  color:var(--primary-color)
}
.lead-container{
  display: flex;
  flex-direction: row;
  gap:2rem;
 
 flex-wrap: wrap;
 padding-left: 2rem;
}
.main-heading{
  color: var(--primary-color);
  text-align: center;
 font-weight: bolder;
 font-size: xx-large;

}
.content{
  display: flex;
  justify-content: flex-start;
  width: 100%;
  gap: 0.5rem;
  flex-direction: column;
 
}
.sec-heading{
  color: var(--primary-color);
  text-align: center;
 font-weight: bolder;
 font-size: x-large;
}
.lead-status{

  margin-left: 2rem;
  margin-right: 2rem;
  padding:0rem;
}
.status-container{
  display: flex;
  justify-content: space-evenly;
  
}
.lead-filter{
  display: flex;
  justify-content: space-between;
  margin: 2rem ;
}
.lead-filter div{
  align-self: center;
}
.card{
  width: 300px;
  padding: 0.8rem;
  box-shadow:1px 1px  1px 1px var(--form-border-);
}
.tag-card{
  display: flex;
  flex-wrap: wrap;
}
.tag{
  padding: 0.5rem;
  background-color: var(--tag-color-);
  color:var(--text-color-);
  margin:0.2rem;
  border-radius: 2px;
}
.text-head{
  color:var(--card-text-);
}
.link-display{
  padding: 0.3rem ;
text-decoration: none;
background-color: var(--primary-color);
color: var(--text-color-);
border-radius: 3px;
}
.link-display:hover{
background-color: var(--text-color-);
color: var(--primary-color);
border: 1px solid var(--primary-color);
border-radius: 3px;

}
.lead-content{
  padding-left: 2rem;
}
.content-container{
  display: flex;
  flex-direction: row;
 justify-content:space-between;
}
.sales-content{
  box-shadow:1px 1px  1px 1px var(--form-border-);
  padding: 1rem;
 margin-right: 5rem;
 
}
.edit-container{
  padding: 2rem;
  margin: 1rem 0rem;
  margin-left: 2rem;
 
}
.comment-container{
  padding: 2rem;
  margin: 1rem 0rem;
}
.comment-container textarea{
  padding: 0.5rem;
}
.form-control{
  width: 100%;
  padding: 0.5rem 0rem;
  border: 1px solid var(--form-border-);
  border-radius: 3px;
}
.display-comment{
  padding-left: 2rem;
}
.comment-box{
  box-shadow:1px 1px  1px 1px var(--form-border-);
  padding: 1rem;
  box-sizing: border-box;
  margin-top: 1rem;
}
.comment-box-author-time{
  display: flex;
  justify-content: space-between;
}
.comment-text{
  color: var(--disabled-text-);
}

.comment-text-profile{
  color:var(--profile-color-);
  font-weight: bolder;
 
}
.form{margin:0rem 2rem;
padding: 4px 0px;}
.leadList{
  display: flex;
  justify-content: space-between;
box-shadow: 1px 1px 1px 1px var(--form-border-);
 margin-top: 1rem;
 padding: 1rem;
}
.filterLeadsLists{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.addAgentContainer{
display: flex;
justify-content: end;
}
.filterLeadsLists select{
  border: 1px solid var(--primary-color);
}
.errorDisplay{
  color:var(--error-display) ;
}
@media (max-width:768px) {
.heading{
  font-size: larger;
}
.head-text{
  font-size: larger;
}
.container{
  margin: 1rem;
}
.page-display{
display: flex;
flex-direction: column;
}

.sidebar{
  display: flex;
  flex-direction: row;
  border: none;
  gap: 6px;
  justify-content: center;
  padding-right: 0px;
  
}
.sidebar-text{
  display: none;
}

.btn-primary{
  padding: 0.4rem;
  flex-grow: 1;
  margin-left:  2rem;
}
.status-container{
  display: flex;
  flex-direction: column;
}
.content-container{
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}
.lead-content{
  padding-left: 0rem;
}

.edit-container{
  margin: 0rem;
}
.comment-container{
  margin: 0rem;
  padding: 0rem;
}
.form-control{
  width: 100%;
  padding: 0rem;
  padding-top: 0.3rem;
  padding-bottom:0.3rem;
}
.display-comment{
  padding: 0rem;
}
.content-container{
  display: flex;
  flex-direction:column;
 align-content:stretch;
}
.sales-content{
  align-self: start;
}
.edit-container{
  padding-left: 0px;
}
.form{margin: 0rem;}
.comment-container textarea{
  padding: 0rem;
}
.filterLeadsLists{
  flex-direction: column;
  gap:1rem;
}
.link-display{
  padding: 0.3rem;
}
}