:root{
  --primary-color:#27272a;
  --text-color-:#F9FAFB;
  
}
.header{
  justify-content: space-evenly;
  background-color: var(--primary-color);
 margin:0px;
 border: 0px;
 display: flex;
  padding: 1.5rem;
 
}
.heading{
 
  font-size: xx-large;
  font-weight: bolder;
  color: var(--text-color-);
}
.head-text{
  font-size: xx-large;
  font-weight: bolder;
  color: var(--text-color-);
}
body{
  background-color: var(--text-color-);
}
@media (max-width:768px) {
.heading{
  font-size: larger;
}
.head-text{
  font-size: larger;
}
}